@import url('https://fonts.cdnfonts.com/css/mistrully');
@import url('https://fonts.googleapis.com/css2? family= Young+Serif & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Cardo & family= Mulish:wght@400;700 & family= Orbitron:wght@400;700 & display=swap');


body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ebdecf,#e1b68a);
    background-attachment: fixed;
 
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw; 
    height: 200vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    



}

header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;

}

.share_button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: black;

}

.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;



}

h1 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 0PX;
    padding-top: 10PX;
    font-family: 'Young Serif,se rif ';

   

}
h2{
    margin-top: 0PX;
    padding-top: 0PX;
    font-size: 25px;
    font-family: 'Mistrully', sans-serisf;
    color: white;


}
a {
    text-decoration: none;
    color: black;
    
   


}




.title {
    width: 100%;    
    background-color: transparent;
    margin: 8px;
    border-radius: 17px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
   





}

.title-share-button{
    margin: 7px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;


}
.title:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.3);


}



.image-container{
    height: 200px;
    width: 200px;
    border-radius: 48px;
    overflow: hidden;



}
.image-container img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; 




}
.icon{
    margin: 10px 15px;
    padding: 5px;
    width: 30px;
    height: 30px;




}
.menu {
    display: flex;
    justify-content: center;

    padding: 10px 0px;
    margin-bottom: 20px;

   
}


.menu a {
    margin: 0px 15px;
    text-decoration: none;
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
}

.menu a:hover{
    transform: scale(1.02);
}




.menu img {
    width: 30px; /* Ajusta el tamaño de las imágenes según lo necesites */
    height: auto;
}